@keyframes scrollBottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scrollBottomToTop {
  animation: scrollBottomToTop 10s linear infinite;
}
