@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-bottomToTop {
  animation: bottomToTop 2s ease-in-out infinite alternate;
}

.animate-leftToRight {
  animation: leftToRight 2s ease-in-out infinite alternate;
}
